<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Audio</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Do you want to convert PDF into Audio?</h1>
        <p>HERE ARE THE STEPS</p>
    </div>

    <div class="steps">
        <div class="row">
            <div class="col card-wrapper" data-player="Upload your PDF document">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static',filename='img/1.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Step 1</h4>
                            <p>Upload your PDF document</p>
                        </div>
                    </div>
                </div>            
                <div class="col card-wrapper" data-player="Select voice">
                        <div class="card border-0">
                            <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                                <img class="w-100 h-100" src="{{ url_for('static',filename='img/2.png') }}" alt="Card image cap">
                            </div>
                            <div class="card-body text-center mt-4">
                                <h4 class="text-uppercase card-title">Step 2</h4>
                                <p>Select Voice</p>
                            </div>
                        </div>
                </div>            
                <div class="col card-wrapper" data-player="Click on Convert">
                        <div class="card border-0">
                            <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                                <img class="w-100 h-100" src="{{ url_for('static',filename='img/3.jpg') }}" alt="convert">
                            </div>
                            <div class="card-body text-center mt-4">
                                <h4 class="text-uppercase card-title">Step 3</h4>
                                <p>Click on Convert</p>
                            </div>
                        </div>
                </div>
            </div>
    </div>


    <div class="container2">
        <form method=POST enctype=multipart/form-data action="{{ url_for('convert') }}">
            <input class="form-control btn btn-secondary" type=file id="formFile" name="pdf">

            <select class="btn btn-secondary form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="voice-select" name="chosen_voice">
                <option value="0"  selected>US English (Male)</option>
                <option value="1">US English (Female)</option>
            </select>
            
            <input  class="btn btn-secondary" id="submitBtn" type="submit" value="Convert">
        </form>
    </div>

    <div class="audioContainer">
        <audio controls>
            <source src="{{ url_for('audio', filename=filename) }}" type="audio/mpeg">
          </audio>
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
</body>
</html>